<ion-view title="Notification">
<link href="css/settings.css" rel="stylesheet" type="text/css" />
<ion-nav-buttons side="right">
	<label class="toggle toggle-assertive">
	   <input type="checkbox">
	   <div class="track">
		 <div class="handle"></div>
	   </div>
	</label>
</ion-nav-buttons>
<ion-content>
	<div class="row background-d">
		<span class="title-noti">CHOISISSEZ VOS ALERTES</span>
	</div>
	<ul class="list box-shadow">
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-important"></i>
			<b class="list-noti">Important seulement</b><br/>
			<small class="list-noti-small">Les nouvelles que vous devez savoir, pas plus de 3-4 par jour</small>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-news"></i>
			<b class="list-noti">Nouvelles et Politique</b><br/>
			<small class="list-noti-small">Affaires nationales et d'actualité</small>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-location"></i>
			<b class="list-noti">Au clair</b><br/>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-brief"></i>
			<b class="list-noti">Justice</b><br/>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-sport"></i>
			<b class="list-noti">Economie</b><br/>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-tivi"></i>
			<b class="list-noti">Littérature</b><br/>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-life"></i>
			<b class="list-noti">Annonces</b><br/>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
	</ul>
	<div class="row background-d">
		<span class="title-noti">PLUS DE RÉGLAGES</span>
	</div>
	<ul class="list box-shadow">
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-volume"></i>
			<b class="list-noti">Sons</b><br/>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-vibrate"></i>
			<b class="list-noti">Vibrer</b><br/>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-block"></i>
			<b class="list-noti">Ne pas déranger</b><br/>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
	</ul>
</ion-content>
</ion-view>
